<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>